**/dist/
**/node_modules
**/ebo.rollup.config.js
**/tsconfig.json
app/**/pnpm-lock.yaml
lib/**/pnpm-lock.yaml
widget/**/pnpm-lock.yaml
app/**/package.json
lib/**/package.json
widget/**/package.json
app/**/tsconfig.json
lib/**/tsconfig.json
widget/**/tsconfig.json
package.json
package.lock
pnpm-lock.yaml
ebo.lib/
ebo.local
run_watchers.*
