/* Store your global constants / mixins here */
$DARK_BROWN: #463f3a;
$TAN:        #8a817c;
$LIGHT_TAN:  #bcb8b1;
$OFF_WHITE:  #f4f3ee;
$RED:        #d9a08e;
$BLUE:       #829bb5;
$DARK_BLUE:  #49637f;
$GREEN:      #7ca879;
